tests/acceptance/performanceTests/DojotData.json
{"devices":[{"attrs":[{"created":"2019-05-22T13:47:47.929303+00:00","id":8,"is_static_overridden":true,"label":"serial","static_value":"cec22f06cd3a443c968c735b917fbb0b","template_id":"2","type":"static","value_type":"string"}],"id":"23fc91","label":"bus-3","templates":[2]},{"attrs":[{"created":"2019-05-22T13:47:47.929303+00:00","id":8,"is_static_overridden":true,"label":"serial","static_value":"5a51e4f1900c4d60bb5791944700066a","template_id":"2","type":"static","value_type":"string"}],"id":"25d222","label":"bus-1","templates":[2]},{"attrs":[],"id":"bab230","label":"device","templates":[1]},{"attrs":[{"created":"2019-05-22T13:47:47.929303+00:00","id":8,"is_static_overridden":true,"label":"serial","static_value":"1067e73125b8479d81657c463018a067","template_id":"2","type":"static","value_type":"string"}],"id":"cb7df7","label":"bus-2","templates":[2]}],"templates":[{"attrs":[{"id":9,"label":"mensagem","static_value":"","template_id":"1","type":"dynamic","value_type":"string"},{"id":10,"label":"trigger","static_value":"","template_id":"1","type":"dynamic","value_type":"string"}],"id":1,"label":"controle"},{"attrs":[{"id":2,"label":"protocol","static_value":"mqtt","template_id":"2","type":"meta","value_type":"string"},{"id":3,"label":"device_timeout","static_value":"600000","template_id":"2","type":"meta","value_type":"integer"},{"id":4,"label":"gps","template_id":"2","type":"dynamic","value_type":"geo:point"},{"id":5,"label":"sinr","template_id":"2","type":"dynamic","value_type":"float"},{"id":6,"label":"temperature","template_id":"2","type":"dynamic","value_type":"float"},{"id":7,"label":"rpm","template_id":"2","type":"dynamic","value_type":"float"},{"id":8,"label":"serial","static_value":"undefined","template_id":"2","type":"static","value_type":"string"}],"id":2,"label":"bus"}],"flowRemoteNodes":[],"flows":[{"name":"fluxo basico","enabled":true,"id":"309e0b29-0317-446e-8294-8df2fd83986d","flow":[{"id":"A98e5d23384fa5","type":"tab","label":"Flow 1"},{"id":"A8fe79945ec7958","type":"switch","z":"A98e5d23384fa5","name":"text trigger","property":"payload.trigger","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":379.95831298828125,"y":216.31250762939453,"wires":[["A82025c5e5139a"]]},{"id":"A59f946b426d6d8","type":"device in","z":"A98e5d23384fa5","name":"","device_source_id":"device (bab230)","status":"false","_device_id":"bab230","_device_label":"","_device_type":"","x":169.5,"y":123,"wires":[["A8fe79945ec7958"]]},{"id":"A82025c5e5139a","type":"change","z":"A98e5d23384fa5","name":"set mensagem","rules":[{"t":"set","p":"saida.mensagem","pt":"msg","to":"msgOut","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":601.5,"y":220,"wires":[["Afdbbb0ad74aff"]]},{"id":"Afdbbb0ad74aff","type":"device out","z":"A98e5d23384fa5","name":"","device_source":"configured","device_source_msg":"","device_source_id":"device (bab230)","attrs":"saida","_device_id":"bab230","x":839.5,"y":313,"wires":[]}],"created":1558532867803,"updated":1558533006986}],"cronJobs":[]}
